{% extends "base.html"%}

{% block title %}Dota 2 Heroes Recommender{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div id="loading"></div>
<div class="card bg-light shadow-lg" style="margin: 40px; max-width: 800px;">
    <div class="card-body" id="test">
        <h3 class="card-title" style="margin-left: 10px; color: #8e7768;">Estructura de los Equipos</h3>
        <form action="" method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}

            <div class="form-group" style="margin: 10px;">
                <label class="col-4 col-form-label">
                    {{ form.side.label }}
                </label>
                <div class="col-3">
                    {{ form.side(class_="form-control", style="list-style:none") }}
                </div>
            </div>

            <div class="form-check" style="margin: 10px;">
                <label class="form-check-label">
                    {{ form.user_id.label }}
                </label>
                {{ form.user_id(class_="form-check-input") }}
            </div>

            <p style="color: red; margin: 10px;"> {{ error }}</p>
            <br>

            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.radiant_hero_1.label}}
                </label>
                <div class="col-3">
                    {{ form.radiant_hero_1(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.radiant_hero_2.label}}
                </label>
                <div class="col-3">
                    {{ form.radiant_hero_2(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.radiant_hero_3.label}}
                </label>
                <div class="col-3">
                    {{ form.radiant_hero_3(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.radiant_hero_4.label}}
                </label>
                <div class="col-3">
                    {{ form.radiant_hero_4(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.radiant_hero_5.label}}
                </label>
                <div class="col-3">
                    {{ form.radiant_hero_5(class_="form-control") }}
                </div>
            </div>

            <br>

            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.dire_hero_1.label}}
                </label>
                <div class="col-3">
                    {{ form.dire_hero_1(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.dire_hero_2.label}}
                </label>
                <div class="col-3">
                    {{ form.dire_hero_2(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.dire_hero_3.label}}
                </label>
                <div class="col-3">
                    {{ form.dire_hero_3(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.dire_hero_4.label}}
                </label>
                <div class="col-3">
                    {{ form.dire_hero_4(class_="form-control") }}
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 5px; margin-left: 0;">
                <label class="col-4 col-form-label">
                    {{ form.dire_hero_5.label}}
                </label>
                <div class="col-3">
                    {{ form.dire_hero_5(class_="form-control") }}
                </div>
            </div>

            <input class="form-control btn btn-submit text-white" type="submit" value="Obtener Recomendación" style="max-width: 300px; margin:10px; background-color: #ba251d">

        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalGif">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <h5 class="modal-title" style="color: #8e7768;">Obteniendo Recomendación...</h5>
        <img src="{{ url_for('static', filename='dota2-heroes.gif') }}" alt="Loading" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</div>

<script>
$('form').submit(function(){
  $(".btn-submit").html('Guardando Formulario...Espere');
  $(this).find(':submit').attr('disabled','disabled');
  $('#ModalGif').modal('show');
});
</script>
{% endblock %}
